version: '4.10.1'
service:
 mongo: 
  image: mongo
  container_name: mongo
  restart: always
  environment: 
   - MONGO_INITDB_ROOT_USERNAME=admin 
   - MONGO_INITDB_ROOT_PASSWORD=admin
  ports: 
   - 27017:27017
  volumes:
   - ./.env:/top-api/.env
  command: --wiredTigerCacheSizeGB 1.5  