version: '4.10.1'
service:
 top-api: 
  image: top-api:latest
  container_name: top-api
  restart: always
  ports: 
   - 3000:3000
  volumes:
   - ./mongo-data:/data/db
  command: --wiredTigerCacheSizeGB 1.5  